body{
    padding:0;
    margin:0;
    max-width: auto;
}

#bdtitle{
    /* FLEXBOX: Set children (logo and text) side-by-side */
    display: flex;
    /* FLEXBOX: Vertically align children in the middle */
    align-items: center; 
    justify-content: space-between;
    
    text-align: left;
    color:#F3F2EC;
    BACKGROUND-COLOR:#DCDCDC;
    height: 60px;
    
    /* *** FIX 1: Remove redundant line-height. Flexbox handles vertical alignment. *** */
    line-height: normal; 

    /* *** FIX 2: Add padding-left for spacing from the edge *** */
    padding-left: 15px;
    padding-top: 0; /* Keep vertical padding at 0 */
    padding-bottom: 0;

    margin:0;
}

header{
    padding: 25px;
    background-color: #DCDCDC;
}

#logo{
    height: 300px; /* Use a height that fits nicely inside the 60px header */
    width: auto; 
    
    /* *** ADDITION: Space between logo and text *** */
    margin-right: 10px;
}

.navbar ul{
    list-style-type:none;
    text-decoration: none;
    overflow: hidden;
}


.navbar a{

    text-decoration: none;
    display: block;
    text-align: center;
    padding:10px;
    padding-right: 20px;
    color: #000000;
    

}

.navbar li{
float: left;
}

.navbar{
    margin-left: 0px;
}

#log{   
    border:0;
    border-radius: 10%;
    background-color: rgb(250, 18, 18);
    display: inline-block;
    outline: none;
    box-shadow: none;
    margin-left: 30px;
}

#log a{
    color:white;
    padding: 12px 5px  ;
    text-align: center;
    display: inline-block;
    white-space: nowrap;

}

#firstsection{
    padding:150px;
    font-size:60px;
}

#firstsection p{
    position:relative;
    bottom:50px;
    padding:0;
    font-size:20px

}

#blood2{
    position: relative;
    width:700px;
    bottom: 100px;
    right:0px;
    left:150px ;
    float:right;
}

/*donate button*/
#donatebutton {
    font-size: 20px;
    background-color: red;
    border-radius: 10px;
    position:relative;
    bottom: 200px;
    left:120px;
    border:none;
    
}

#donatebutton a{
    color:white;
    text-decoration: none;
    padding: 20px 30px;
    display: inline-block;
}

#secondsec{
    padding: 0%;
    margin: 0%;
    position:relative;
    bottom:100px;
    background-color:white;
    
}

#secondsec-content {
    margin-left: 120px;
    text-align: left;
    padding-top: 20px; 
    padding-bottom: 900px;
    color:#2563EB;
}



/*#Blood-Donor-Privileges-Malaysia{
    position:relative;
    width: 17cm;
    bottom:25cm;
    right:3cm;
    float:right;

}*/

#underwords{
    color:#E62727;
    font-size:19px;
    position:relative;
    bottom:24.5cm;
    left:120px;
}

#secondwrapper{
    background-color: white;
}

#mission-wrapper {
   
    background-color: white;
    border: 3px solid grey;
    border-right:none;
    border-left:none;
    border-bottom:none;
    padding: 30px; /* Space inside the box */
    position:relative;
    bottom:27cm;

  
}

#Blood-Donor-Privileges-Malaysia{
    position:relative;
    width: 18cm;
    height: 12cm;
    bottom:cm;
    top:0cm;
    right:2cm;
    float:right;
    border-radius: 30px;

}

#missioncontent{
    position: relative;
width: 491px;
height: 100px;
left: 125px;
top: 50px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 29px;
letter-spacing: -0.02em;

color: #000000;
}

#image7{

position: absolute;
width: 1451px;
height: 700px;
left: 0px;
top: 124px;

background: url(image.png);
opacity: 0.5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
filter: blur(2px);

}

body{
    padding:0;
    margin:0;
    max-width: auto;
    /* *** ADD THIS LINE *** */
    overflow-x: hidden; 
}
