body{
    padding:0;
    margin:0;
}

#bdtitle{
    /* FLEXBOX: Set children (logo and text) side-by-side */
    display: flex;
    /* FLEXBOX: Vertically align children in the middle */
    align-items: center; 
    
    text-align: left;
    color:#F3F2EC;
    BACKGROUND-COLOR:#DCDCDC;
    height: 60px;
    
    /* *** FIX 1: Remove redundant line-height. Flexbox handles vertical alignment. *** */
    line-height: normal; 

    /* *** FIX 2: Add padding-left for spacing from the edge *** */
    padding-left: 15px;
    padding-top: 0; /* Keep vertical padding at 0 */
    padding-bottom: 0;

    margin:0;
}

header{
    padding: 25px;
    background-color: #DCDCDC;
}

#logo{
    height: 300px; /* Use a height that fits nicely inside the 60px header */
    width: auto; 
    
    /* *** ADDITION: Space between logo and text *** */
    margin-right: 10px;
}

.navbar ul{
    list-style-type:none;
    text-decoration: none;
    overflow: hidden;
}


.navbar a{

    text-decoration: none;
    display: block;
    text-align: center;
    padding:10px;
    padding-right: 20px;
    color: #000000;
    

}

.navbar li{
float: left;
}

.navbar{
    margin-left: 700px;
}

#log{   
    border:0;
    border-radius: 10%;
    background-color: rgb(250, 18, 18);
    display: inline-block;
    outline: none;
    box-shadow: none;
    margin-left: 30px;
}

#log a{
    color:white;
    padding: 12px 5px  ;
    text-align: center;
    display: inline-block;
    white-space: nowrap;

}

#firstsection{
    padding:150px;
    font-size:60px;
}

#firstsection p{
    position:relative;
    bottom:50px;
    padding:0;
    font-size:20px

}

#blood2{
    position: relative;
    width:700px;
    bottom: 100px;
    right:50px;
    float:right;
}

/*donate button*/
#donatebutton {
    font-size: 20px;
    background-color: red;
    border-radius: 10px;
    position:relative;
    bottom: 200px;
    left:120px;
    border:none;
    
}

#donatebutton a{
    color:white;
    text-decoration: none;
    padding: 20px 30px;
    display: inline-block;
}

#secondsec{
    padding: 0%;
    margin: 0%;
    position:relative;
    top:100px;
    background-color: #D9D9D9;
    
}

#secondsec-content {
    margin-left: 120px;
    text-align: left;
    padding-top: 20px; 
    padding-bottom: 900px;
}